<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Notas</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../../css/bootstrap.css">
		<link rel="stylesheet" href="../../../css/administrador/main.css">
		<link rel="stylesheet" href="../../../css/sidepanel-menu.css">
		<link rel="icon" type="image/x-icon" href="../../../images/favicon.ico" />
		<script src="../../../js/sidepanel-menu.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="header p-3">
				<header>
					<h1 class="title fw-bold floatleft">PGE</h1>
					<h1 class="fw-bold center mt-md-2">Fatec Zona Sul</h1>
					<h1 class="fw-bold floatright">MEC</h1>
				</header>
			</div>
			<main>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 border border-3 border-dark p-4">
							<%- include("../../partial/_professor_painel.ejs"); %>
							<div class="row">
								<h1 class="title fw-bold text-center">Notas</h1>
								<% if (message !== "") { %>
								<h1 style="font-size:42px; color:blue; text-align:center;" id='status' class='title2'><%= message %></h1>
								<% } %>
								<hr class="border border-dark border-1">
								<div class="row">
									<div class="row my-3">
										<div class="col">
											<a href="/professor_notas_cadastro?cod_disciplina=<%=disciplina%>" class="btn btn-success">Novo</a>
										</div>
									</div>
									<div class="table-responsive">
										<% if(data.length){%>
										<table class="table table-striped table-sm">
											<thead class="text-center">
												<tr>
													<th scope="col">RA do Aluno</th>
													<th scope="col">Disciplina</th>
													<th scope="col">P1</th>
													<th scope="col">P2</th>
													<th scope="col">T</th>
													<th scope="col">Média</th>
													<th scope="col">Ações</th>
												</tr>
											</thead>
											<tbody class="table-group-divider text-center">
												<% if(data.length){ for(var i = 0; i< data.length; i++) {%>
												<tr>
													<td>
													<% if(datac.length){ for(var j = 0; j< datac.length; j++) { if(datac[j].ra == data[i].ra_aluno) { %> <%= data[i].ra_aluno%> - <%=datac[j].nome %></td>
                                                    <td><%= data[i].cod_disciplina%>  - <%= datab[0].nome%></td>
                                                    <td><%= data[i].p1%></td>
													<td><%= data[i].p2%></td>
													<td><%= data[i].t%></td>
													<td><%= data[i].media%></td>
                                                    <td><a href='/professor_notas_editar?cod_nota=<%= data[i].cod_nota%>' class='btn btn-primary'>Editar</a>
													<a href='/professor_notas_excluir?cod_nota=<%= data[i].cod_nota%>&cod_disciplina=<%= data[i].cod_disciplina%>' class='btn btn-danger'>Excluir</a>
													</td>
												</tr>
												<% }}}} }else{ %>
												<div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
													<h5 class="text-center fw-bold">Nenhum dado encontrado.</h5>
												</div>
												<% } %>
											</tbody>
										</table>
										<%}else{ %>
										<div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
											<h5 class="text-center fw-bold">Nenhum dado encontrado.</h5>
										</div>
										<% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="position-absolute start-50 translate-middle-x">© 2023 PGE</footer>
			</main>
		</div>
	</body>
</html>