<!DOCTYPE html>
<html lang="pt-br">
	
	<head>
		<title>Bem-vindo!</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../css/bootstrap.css">
		<link rel="stylesheet" href="../../css/professor/main.css">
		<link rel="icon" type="image/x-icon" href="../../images/favicon.ico" />
	</head>
	
	<body>
		<div class="container-fluid">
			<div class="header p-3">
				<header>
					<h1 class="title fw-bold floatleft">PGE</h1>
					<h1 class="fw-bold center mt-md-2">Fatec Zona Sul</h1>
					<h1 class="fw-bold floatright">MEC</h1>
				</header>
			</div>
			<main>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-2 col-12">
							<div class="row">
								<div class="col border border-3 border-dark">
									<img alt="Editar dados" onclick="location.href='/professor_editar';" style="cursor: pointer;" class="img-fluid mx-auto d-block m-3" src="<%=foto%>" width="128px" height="128px" />
									<h6 class="fw-bold">
										<!-- <%=usuario%><br/> -->
										<!-- Professor<br/> -->
										<%=nome%><br/>
										RP: <%=usuario%>
									</h6>
									<a href="/logout" class="btn d-grid btn-danger mb-3">Sair</a>
								</div>
							</div>
							<div class="row">
								<div class="col border border-3 border-dark menu py-3">
									<ul>
										<li class="p-1 ps-3" onclick="location.href='/professor';" style="cursor:pointer;">
										Início</li>
										<li class="p-1 ps-3" onclick="location.href='/professor_frequencia';" style="cursor:pointer;">
											Frequência
										</li>
										<li class="p-1 ps-3" onclick="location.href='/professor_notas';" style="cursor:pointer;">
											Notas
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-10 col-12 border border-3 border-dark p-4 content">
							<!-- <h1 class="title fw-bold">Aviso</h1> -->
							<!-- <p>Planejamento de aula até o dia 25/07 deverá ser postado</p> -->
							<% if (message !== "") { %>
							<h1 class="title fw-bold">Aviso</h1>
							<h1 style="font-size:42px; color:blue;" id='status' class='title2'><%= message %></h1>
							<!-- <p>Suas aulas começam 01/08</p> -->
							<!-- <p></p> -->
							<% } else { %>
							<h1 style="font-size:72px" class="title fw-bold">Bem-vindo!</h1>
							<% } %>
						</div>
					</div>
				</div>
				<footer class="position-absolute start-50 translate-middle-x">© 2023 PGE</footer>
			</main>
		</div>
	</body>
</html>