<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Editar dados da frequência</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../../css/bootstrap.css">
		<link rel="stylesheet" href="../../../css/administrador/main.css">
		<link rel="stylesheet" href="../../../css/sidepanel-menu.css">
		<link rel="icon" type="image/x-icon" href="../../../images/favicon.ico" />
		<script src="../../../js/sidepanel-menu.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="header p-3">
				<header>
					<h1 class="title fw-bold floatleft">PGE</h1>
					<h1 class="fw-bold center mt-md-2">Fatec Zona Sul</h1>
					<h1 class="fw-bold floatright">MEC</h1>
				</header>
			</div>
			<main>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 border border-3 border-dark p-4">
							<%- include("../../partial/_professor_painel.ejs"); %>
							<div class="row">
								<h1 class="title fw-bold text-center">Editar Frequência</h1>
								<hr class="border border-dark border-1">
								<div class="row">
									<form method="post" action="/professor_frequencia_editado">
										<div class="row justify-content-center">
											<div class="col-10 col-md-6">
												<div class="row">
													<div class="col-12 col-sm-6">
														<div class="mb-3">
															<label class="form-label">RA do Aluno</label>
															<select class="form-select" id="ra_aluno" name="ra_aluno" disabled>
																<% if(data.length){ for(var i = 0; i< data.length; i++) {%>
																<option <% if(data[i].ra === datac[0].ra_aluno) {%>selected<%}%>><%= data[i].ra%>
																</option>
																<% } }else{ %>
																<!-- <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
																	<h5 class="text-center fw-bold">Nenhum dado encontrado.</h5>
																</div> -->
																<% } %>
															</select>
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="mb-3">
															<label class="form-label">Disciplina</label>
															<select class="form-select" id="cod_disciplina" name="cod_disciplina" disabled>
																<% if(datab.length){ for(var i = 0; i< datab.length; i++) {%>
																<option value="<%= datab[i].codigo%>" <% if(datab[i].codigo === datac[0].cod_disciplina) {%>selected<%}%>><%= datab[i].codigo%> - <%= datab[0].nome%>
																</option>
																<% } }else{ %>
																<!-- <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
																	<h5 class="text-center fw-bold">Nenhum dado encontrado.</h5>
																</div> -->
																<% } %>
															</select>
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="mb-3">
															<label class="form-label">Data</label>
															<input type="text" class="form-control" id="data_frequencia" name="data_frequencia"
															value="<%= datac[0].data_frequencia%>">
														</div>
													</div>
													<div class="col-12 col-sm-6">
														<div class="mb-3">
														<label class="form-label"></label>
															<label class="containercheckbox">Presença
																<input type="checkbox" style="" value="1" id="presenca" name="presenca" <% if(datac[0].presenca) {%>checked<%}%>>
																<span class="checkmark"></span>
															</label>
														</div>
													</div>
													<div class="col-12 col-sm-6" style="display: none">
														<div class="mb-3">
															<label class="form-label">Código da Frequência</label>
															<input type="text" class="form-control" id="cod_frequencia" name="cod_frequencia"
															value="<%= datac[0].cod_frequencia%>" readonly>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-12 col-sm-6 d-grid gap-2 mb-sm-0 mb-2">
														<button type="submit" class="btn btn-success">Salvar</button>
													</div>
													<div class="col-12 col-sm-6 d-grid gap-2">
														<button type="reset" class="btn btn-danger">Resetar</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="position-absolute start-50 translate-middle-x">© 2023 PGE</footer>
			</main>
		</div>
	</body>
</html>